@charset "UTF-8";
*{box-sizing:border-box;}
#content div {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#content {
	margin: 50px auto;
	width:70%;
}

.title {
	height: 100px;
	text-align: center;
	margin: auto;
	line-height: 60px;
	font-size: 50px;
}

.c-name {
	background-color: ghostwhite;
	border-bottom: 2px solid black;;
}

.line-name {
	line-height: 40px;
}

.line-content {
	line-height: 32px;
	border-bottom: 1px solid gray;
}

.line-content:hover {
	background-color: ghostwhite;
}

.write {
	text-align: right;
}

.write>div {
	height: 40px;
	margin-top: 5px;
}


.searchBar {
	text-align: right;
	margin: 5px 0;
}

#search {
	width: 200px;
	height: 25px;
}

#searchBtn {
	width: 50px;
	height: 25px;
	padding: 0;
	margin-top: -5px;
}

#postClickBtn
{
	text-decoration : none;
	color : black;
}
#postLock
{
	text-decoration : none;
	color : black;
}