/*--detail page--*/
/* -------------------------------폰트 모음----------------------------- */
@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------폰트 모음----------------------------- */
#mainCate{
	font-family: Wemakeprice-Bold;
	font-size: 30px;
}
#contents-deail-1>span {
	height: 15%;
	margin: 20px auto;
	margin-bottom: 0px;
}



.sub-img:hover>img {
	box-shadow: 0px 0px 10px #A4A4A4;
}
.sub-img{
	width: 125px;
	height: 250px;	
	overflow: hidden;
}
#progress-height{
	height: 30px;
}


fieldset {
	width : 100%;
	height : 100%;
	margin: 0 auto;
	border: 1px solid black;
}
legend {
	text-align: left;	
	border: 1px solid black;
}
