/*--footer-------------------------------------------------------------*/
#core-footer-top {
	height: 120px;
	margin: 30px 0 0 0;
	border-bottom: 1px solid #CCCCCC;
}

#core-footer-bottom {
	height: 120px;
	margin: 20px auto;
	margin-bottom: 0;
}

#footer {
	background-color: #595959;
	display:block;
	border:0px;
	magin:0px;
	
}

.footer-ul {
	width: 150px;
	padding: 0;
}

.footer-ul>li {
	list-style-type: none;
	margin: 20px auto;
	line-height: 12px;
}

.footer-ul>li>a {
	color: white;
	font-size: 12px;
	font-weight: 800;
}

#core-footer-bottom>div p {
	font-size: 10px;
	margin: 0;
	color: #999999;
	font-family:;
}

#core-footer-bottom>div p>a {
	font-size: 10px;
	margin: 0;
	color: #999999;
}

.footer-font {
	font-size: 11px !important;
	color: #B7B7B7 !important;
}